html, body{
	height:100%;
	background-color: #E6E6E6;
}

h1{
	font-size: 25px;
	color:white;
}

a, a:active, a:visited{
	color:white;
	text-decoration: none
}
.navbar{
	position:fixed;
	height:75px;
	background-color: #00649D;
	width:100%;
	color:white;
	font-size: 25px;
	font-style: bold;
	z-index: 2;
	box-shadow: 0 1px 6px #BBBBBB;
}

table{
	height:100%;
	width:100%;
}

td{
	vertical-align:middle;
	padding: 10px;
}

.welcome-pane{
	background:rgba(0,0,0,0.5);
	position: absolute;
	height:300px;
	margin-top: 15%;
	padding-top: 20px;
	width:100%;
	text-align: center;
	color:white
}

#main-content{
	padding-top: 75px;
	width:100%;
	z-index: 0;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-position: top;
}

#carpool-link, #request-link{
	height:75px;
}

.login-box{
	margin: 0 auto;
	width:400px;
}

#carpools, #requests, #current-ride, #requests-accepted, #requests-pending{
	margin: 0 auto;
	width:500px;
}

.carpool, .request, .error-msg{
	margin: 0 auto;
	width:500px;
	background-color: white;
	box-shadow: 0 1px 6px #BBBBBB;
	padding: 10px;
	z-index: 1
}

.error-msg{
	color:red;
}

#carpool-info{
	width:50%;
	float:left;
}

.ibm-btn-small{
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    font-size: 0.9em;
    min-width: 96px;
    padding: 5px;
    text-align: center;
    background: -moz-linear-gradient(center top , #F5F5F5, #DBDBDB) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #DBDBDB;
    color: #000000;
    cursor: pointer;
    font-family: Arial,Helvetica;
    text-shadow: 0 1px 0 #FFFFFF;
}

form.ibm-column-form label {
    clear: left;
    display: block;
    float: left;
    width: 175px;
}